.input-container {
  position: relative;
  display: flex;
  width: 21.875rem;
  height: 3.5625rem;
  background-color: $gray-6;
  border-radius: 0.75rem;

  input {
    height: 100%;
    width: 100%;
    border-radius: 0.75rem;
    background-color: transparent;
    padding: 0.625rem;
    outline: none;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    color: #100e1d;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  input:focus {
    border: 1px solid #2d9cdb;
  }

  .invite-btn {
    position: absolute;
    width: 5.875rem;
    height: 3.0625rem;
    right: 4px;
    top: 4px;
    bottom: 4px;
    z-index: 10;
    border-radius: 0.375rem;
    background-color: #2d9cdb;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    vertical-align: middle;
    border: none;
    transition: 0.6s ease;

    color: $gray-6;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .invite-btn:hover {
    bottom: 2px;
    border-radius: 0.75rem;
    font-size: 1.35rem;
  }

  input:placeholder-shown ~ .invite-btn {
    pointer-events: none;
    background-color: $gray-1;
    opacity: 0.5;
  }
}
