#NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  width: 100%;
  padding: 2rem 3.25rem;

  .logo {
    p {
      color: $gray;
      font-family: "Heebo", sans-serif;
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
  }

  .navBarLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 43rem;
    color: var(--gray-1, #333);
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
